body{
    height: auto;
    background-size: cover;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    border: solid black 2px;
    background-color: maroon;
    border-radius: 20px;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(25%, 25%);
    margin-right: 500px;
    padding: 50px;
}

h1{
    padding-top: 20px;
    padding-bottom: 30px;
}