<%- include partials/head.ejs %>
<%- include partials/menu.ejs %>
<h3><%= message %></h3>
<form method="post" action="">
    <div><label>First Name <input type="text" id="firstName" name="firstName"></label></div>
    <div><label>Last Name <input type="text" id="lastName" name="lastName"></label></div>
    <div><label>Age <input type="text" id="age" name="age"></label></div>
    <div><input type="submit" value="Submit"></div>
</form>
<%- include partials/foot.ejs %>